$dark-color: #0A0A0A;
@import url('../vendor/normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400;500&display=swap');

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(-20px);
 }
 100% {
    opacity: 1;
    transform: translateX(0);
 }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(20px);
 }
 100% {
    opacity: 1;
    transform: translateX(0);
 }
}

.fade-in-right {
  animation: fadeInRight ease-out 3s;
  @media screen and (max-width: 767px){
    animation: none;
  }
}

.fade-in-left {
  animation: fadeInLeft ease-out 3s;
  @media screen and (max-width: 767px){
    animation: none;
  }
}

@import '../blocks/page';
@import '../blocks/header';
@import '../blocks/title';
@import '../blocks/main';
@import '../blocks/about';
@import '../blocks/looks';
@import '../blocks/footer';
