.about {
  padding: 80px 20px 40px;


  &__container {
    display: flex;
    flex-direction: column;
    gap: 80px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__text {
    align-self: center;
    max-width: 700px;
    z-index: 2;
  }

  &__text_type_small {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: $dark-color;
    margin: 0;
  }

  &__text_position_middle {
    align-self: center;
    line-height: 32px;
    padding-bottom: 90px;
  }

  &__text_type_big {
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    letter-spacing: 0.02em;
    color: $dark-color;
  }

  &__text_position_right {
    max-width: 700px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    margin: 0;
    position: relative;
    gap: 82px;
  }

  &__content_height_middle {
    height: 875px;
  }

  &__content_height_large {
    height: 1095px;
  }

  &__blockquote {
    margin: 0;
    padding: 0;

  }

  &__figcaption {
    margin-top: 24px;
  }

  &__image {

  }

  &__image_position_right {
    position: absolute;
    top: 0px;
    right: 175px;
    z-index: 1;
  }

  &__image_position_edge {
    right: 0px;
  }

}
