.about {
  padding: 80px 20px 40px;

  @media screen and (max-width: 1200px) {
    padding: 60px 20px 40px;
  }
  @media screen and (max-width: 767px) {
    padding: 40px 20px 0;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 80px;

    @media screen and (max-width: 1200px) {
      gap: 70px;
    }
    @media screen and (max-width: 767px) {
      gap: 40px;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 767px) {
      flex-direction: column;
      gap: 20px;
    }
  }

  &__text {
    align-self: center;
    max-width: 700px;
    z-index: 2;

    @media screen and (max-width: 1200px) {
      max-width: 364px;
    }
    @media screen and (max-width: 767px){
      order: 2;
      max-width: 280px;
    }
  }

  &__text_type_small {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: $dark-color;
    margin: 0;
    @media screen and (max-width: 767px) {
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__text_position_middle {
    align-self: center;
    padding-bottom: 90px;
    @media screen and (max-width: 1200px) {
      min-width: 373px;
      padding-bottom: 50px;
  }
  @media screen and (max-width: 767px) {
    min-width: 0;
    align-self: center;
    width: 280px;
    padding-bottom: 0;
  }
  }

  &__text_type_big {
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    letter-spacing: 0.02em;
    color: $dark-color;
    @media screen and (max-width: 767px) {
      font-size: 20px;
      line-height: 28px;
      letter-spacing: initial;
    }

  }

  &__text_position_right {
    max-width: 700px;

    @media screen and (max-width: 1050px) {
      width: 364px;
    }
    @media screen and (max-width: 767px) {
      align-self: center;
      width: 280px;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    margin: 0;
    position: relative;
    gap: 82px;

    @media screen and (max-width: 1050px) {
      gap: 60px;
    }
    @media screen and (max-width: 767px) {
      flex-direction: column;
      gap: 20px;
    }
  }

  &__content_height_middle {
    height: 875px;

    @media screen and (max-width: 1050px) {
      height: 552px;
    }
    @media screen and (max-width: 767px){
      height: auto;
    }
  }

  &__content_height_large {
    height: 1095px;

    @media screen and (max-width: 1050px) {
      height: 607px;
    }
    @media screen and (max-width: 767px){
      height: auto;
    }
  }

  &__blockquote {
    margin: 0;
    padding: 0;

  }

  &__figcaption {
    margin-top: 24px;
    @media screen and (max-width: 767px){
      margin-top: 20px;
    }
  }

  &__image {
    @media screen and (max-width: 767px) {
      align-self: center;
    }
  }

  &__image_position_right {
    width: 700px;
    height: 875px;
    position: absolute;
    top: 0px;
    right: 175px;
    z-index: 1;

    @media screen and (max-width: 1050px) {
      width: 364px;
      height: 452px;
      top: 49px;
      right: 121px;
    }
      @media screen and (max-width: 767px){
        position: initial;
        order: 1;
        width: 280px;
        height: 348px;
      }

  }

  &__image_position_left {
    @media screen and (max-width: 1050px) {
      width: 304px;
      height: 304px;
      margin-top: 40px;
      @media screen and (max-width: 767px) {
        width: 280px;
        height: 280px;
        margin-top: 0;
      }
    }
  }

  &__image_position_edge {
    right: 0px;
    width: 875px;
    height: 1095px;
    @media screen and (max-width: 1050px) {
      width: 485px;
      height: 607px;
      top: 0px;
    }
    @media screen and (max-width: 767px){
      position: initial;
      align-self: center;
      width: 280px;
      height: 350px;
    }
  }
}
