.footer {
    background-color: $dark-color;

    &__container {
        max-width: 700px;
        margin: 0 auto;
    }

    &__text {
        font-weight: 400;
        font-size: 20px;
        line-height: 32px;
        text-align: center;
        color: #FFFFFF;
        margin: 0;
        padding: 40px 0;
    }

    &__form {

    }

    &__form-input {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #666666;
        padding: 12px 24px;
        width: 544px;
        background-color: $dark-color;
        border: 1px solid #FFFFFF;

    }

    &__form-button {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: $dark-color;
        padding: 12px 24px;
        margin: 0 0 0 -12px;
        cursor: pointer;
        background-color: #FFFFFF;
        border: 1px solid #FFFFFF;

        &:hover {
          background-color: $dark-color;
          color: #FFFFFF;
          transition: 0.6s all;

        }

    }

    &__form-checkbox {
	    z-index: -1;
	    opacity: 0;
	    display: block;
	    width: 0;
	    height: 0;
    }

    &__checkbox-label {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
        cursor: pointer;
        position: relative;
        margin: 20px 0 0 32px;
        display: inline-block;

        &::before{
        content: "";
	      display: inline-block;
	      width: 22px;
	      height: 22px;
	      position: absolute;
	      left: -30px;
	      top: 1px;
	      transition: background 0.3s ease;
	      background: url(../images/icons/checkbox.svg) 0 0 no-repeat;
      }

        .footer__form-checkbox:checked + &:before {
          background: url(../images/icons/checkbox-checked.svg) 0 0 no-repeat;

        }
    }

}
