  .fade {

  &_position_right {
    animation: fadeInRight ease-out 3s;
    @media screen and (max-width: 767px){
      animation: none;
    }
  }
  
  &_position_left {
    animation: fadeInLeft ease-out 3s;
    @media screen and (max-width: 767px){
      animation: none;
    }
  }
}